/* The webpage overall styling */

@font-face {
    font-family: 'GTF-Kosmos';
    src: url("PicNic-Regular.otf") format("truetype");
}

@font-face {
    font-family: 'Helvetica Narrow';
    src: url("Mister Pixel Regular.otf") format("truetype");
}

@font-face {
    font-family: 'Victorianna';
    src: url("Mister Pixel Regular.otf") format("truetype");
}





* {
    font-family: 'GTF-Kosmos';
    padding: 0;
    margin: 0;
    
    
    color: rgb(0, 0, 0);
    
}

body{
    background: rgb(164,202,104);
    background: linear-gradient(0deg, rgba(0,8,5,1) 2%, #209d59 14%, rgba(187,210,192,1) 31%, rgba(0,8,5,1) 44%, rgba(57,202,104,1) 53%, rgba(199,223,199,1) 63%, rgba(32,157,89,1) 76%, rgba(0,0,0,1) 86%, rgba(0,104,55,1) 99%);
    overflow: hidden;
}


/*  This is for styling the main container that holds everything */

#container {
    height: 100vh;
    width: 100%;
    position: relative;
   
    filter: blur(18px);
   
}



/* This styles the descriptions of the 3D object */

#content-left {
   
    
    width: 30%;
    height: 100%;
    position: absolute;
    padding: 2rem;
    
}

#content-right {
   
    
    left: 65%;
    width: 27.5%;
    height: 100%;
    position: absolute;
    padding: 4rem;
    margin: 0%;
    

}


/* This styles the heading in the 3D description */

.content h2 {
    
    font-size: 160px;
    line-height: 90%;
    color: whitesmoke;
    /* -webkit-text-stroke: 3px white; */
    /* mix-blend-mode: exclusion; */
    
}


/* This styles the paragraph in the 3D description*/

#content-left p {
    font-size: 20px;
    font-family: 'Victorianna';
    color: rgb(250, 250, 250);
}

#content-right p {
    
    background-color: #fff;
    border-color: black;
    border-width: 2rem;
    border-radius: 20px;
   
    padding: 20px;
    font-size: 50px;
    
    font-family: 'Victorianna';
    color: rgb(0, 0, 0); 
    
  
    /* mix-blend-mode: exclusion; */
    color: black;
    box-shadow: 0 0 10px 10px #ff0000;

    
}

#content-right p:hover{
    mix-blend-mode: normal;
}

#instructions{
    font-family: 'Helvetica Narrow';
}



/* This styles the button in the 3D description*/

/* .content button {
    font-family: 'Helvetica Narrow';
    width: auto;
    padding: 2% 5% 2% 5%;
    font-size: 26px;
    margin-top: 2%;
    margin-left: center;
    border: solid 3px;
    color: rgb(250, 250, 250);
    outline: none;
    border-radius: 50px;
    background: none;
    color: rgb(250, 250, 250);
} */

.content button {
    font-family: 'Victorianna';
    width: auto;
    padding: 3% 3% 3% 3%;
    font-size: 40px;
    margin-top: 2%;
    margin-right: 0%;
    margin-left: center;
    border: none;
    color: rgb(250, 250, 250);
    outline: none;
     border-radius: 10px; 
    background-color: white;
    mix-blend-mode: exclusion;
    color: black;
    box-shadow: 0 0 10px 10px #ff0000;
}

/* .content button {
    font-family: 'Helvetica Narrow';
    width: auto;
    padding: 1% 3% 1% 3%;
    font-size: 30px;
    margin-top: 2%;
    margin-right: 0%;
    margin-left: center;
    border: solid 3px;
    color: rgb(250, 250, 250);
    outline: none;
     border-radius: 10px; 

    background: rgb(164,202,104);
    background: linear-gradient(0deg, rgba(164,202,104,1) 0%, rgba(230,147,95,1) 12%, rgba(220,103,85,1) 27%, rgba(164,202,104,1) 45%, rgba(223,140,66,1) 66%, rgba(233,197,82,1) 81%, rgba(224,105,87,1) 90%, rgba(164,202,104,1) 100%);
    mix-blend-mode: exclusion;
    color: black;
} */


/* This adds some hover effects over the button */

.content button:hover {
    background: black;
    color: white;
}


/* This styles the aside container */

#aSide {
    
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    
}


/* This styles the 3D object inserted in the aside container */

#aSide model-viewer {
    /* height: 600px; */
    width: 100%;
    height: 900px;
    position: absolute;
    top: 0;
    left: 0;
    border: none;
}

/*  INVENTORY BAR */

.inventory button{

}

#dvd {
    position: absolute;
    left: 0px;
    top: 0px;
    height: auto;
    width: 10%;
    /* src: url(assets/gifts/GIFT-1-12.png); */
    /* mask: url("https://upload.wikimedia.org/wikipedia/commons/9/9b/DVD_logo.svg");
    -webkit-mask: url("https://upload.wikimedia.org/wikipedia/commons/9/9b/DVD_logo.svg"); */
    background-repeat: no-repeat;
    background-size: 75px;
    background-position: center;
    /* mix-blend-mode: exclusion; */
   
    
  }

  #g-nora{
    width: 220%;
    height: auto;
  }



  .splash{
    cursor : pointer;
    position : fixed;
    top : 35%;
    left : 50%;
    height : 60%;
    width : 60%;
    transform : translate(-50%,-50%);    
    background-color: transparent;
    
    transition : all ease-in-out 600ms;
    
    
  }

  .splash:hover{
    filter: invert();
    
  }

  .splash button{
    font-family: 'Victorianna';
    width: 400px;
    position: fixed;
    top: 135%;
    left:27%;
    

    padding: 2%;

    /* padding: 3% 3% 3% 3%; */
    font-size: 30px;
    
    border: none;
   
    outline: none;
     border-radius: 10px; 
    background-color: transparent;
    /* mix-blend-mode: exclusion; */
    color: rgb(255, 255, 255);
  }

  /* .splash button:hover{
    background: rgb(255, 255, 255);
    color: rgb(234, 12, 12);
  } */

  img{
    width: 100%;
    height:auto;
  }

  #title-image{
    width: 110%;
    /* mix-blend-mode: difference; */
  }


  #nph-logo{
   padding-top: 6rem;
    width: 30%;
    mix-blend-mode:exclusion;
  }

  table{
    border: #fff;
   
    /* empty-cells: show; */

  }
  td{
    
    /* background: #fff; */
   color: transparent;
   border-radius:5px;
   border-width: 5px;
    text-align: left;
background-color: #fff;
   
    box-shadow: 0 0 10px 1px #00d9ff;

  }
  #table-text{
    color: rgb(0, 0, 0);
    font-family: 'Victorianna';
    padding: 5%;
    font-size: 2px;
    vertical-align: top;
    /* border-radius: 40px; */
    /* background-color: rgb(160, 160, 160); */
    background-color: white;
    opacity: 70%;
   
  }

  #table-para{
    font-family: 'Victorianna';
    color: black;
    font-size: 15px;
    line-height: 120%;
    padding: 2%;
    background-color: white;
    border-radius: 6px;
  }

  .blended-cells{
    mix-blend-mode: exclusion;
  }

  #initiative{
    display: block;
  }

  #initiative:hover{
    mix-blend-mode: exclusion;
  }



  #manifesto{
    position : fixed;
    top : 50%;
    left : 50%;
    height : 60%;
    width : 60%;
    transform : translate(-50%,-50%);    
    background-color: black;
    display: none;

    background-color: #fff;
    border-color: black;
    border-width: 2rem;
    border-radius: 30px;
   
    padding: 20px;
    font-size: 50px;
    
    font-family: 'Victorianna';
    color: rgb(0, 0, 0); 
    
    opacity: 70%;
    /* mix-blend-mode: exclusion; */
    color: black;
    box-shadow: 0 0 10px 10px #ff0000;
  }

  #hamburger{
    display: none;
  }



  @media screen and (max-width: 768px) {
    /* CSS rules for smaller screens */

    body{
     
      overflow:hidden;
      height: 100vh;
      width: 100vw; /* Viewport width */
    overflow-x: hidden; /* Hide horizontal scrollbar */
  }
    
    #dvd {
      display: none;
    }

    #aSide{
      width: 100vw;
      height: 100vh;
      position: absolute;
      top: 0px;
    }

    


    #title-image{
     
      width: 160%;
      padding: 25%;
    }

    #initiative{
      display: none;
    }


    #name-menu{
      display: none;
      width: 100vw;
      
      flex-direction: column;
  justify-content: center;
  align-items: center;
padding: 0px;
margin: 0px;
left: 0vw;
    top: 15%;
   
    position: absolute;

    }

    #name-menu button {
      padding: 5px 20px;
      margin: 15px 5px; 
    }

    #content-left{
      padding: 0px;
      margin: 0px;
    }

    #content-right {
    /* display: none; */
    
      left: 0%;
      top: 100vh;
      width: 100vw;
      /* height: 100vh; */
      position:relative;
      padding: 1%;
      margin: 0%;
      
  
  }

  .splash{
    cursor : pointer;
    position : fixed;
    top : 55%;
    left : 50%;
    height : 60%;
    width : 100vw;
    transform : translate(-50%,-50%);    
    background-color: transparent;
    
    transition : all ease-in-out 600ms;
    
    
  }

  #splash-button{
    display: none;
  }

  #blended-cells{
    font-size: 1px;
    width: 80vw;
    mix-blend-mode: exclusion;
  }

  #first-row-section{
    width: 50vw !important;
    
  }

  td{
    font-size: 0.9rem;
  }

  #instructions{
    display: none;
  }

  #hamburger{
    display:block;
    left: 70vw;
    top: 4vh;
   
    position: absolute;
   width: 50%;

   /* box-shadow: 0 0 10px 10px #ff0000; */
   box-shadow: 0 0 10px 1px #00d9ff;
    
  }

  #nph-logo{
    display: none;
  }

  



    
}
